$btn-padding-y: 0.35rem !default;
$btn-padding-x: 1.25rem !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;

$btn-padding-y-xs: 0.25rem !default;
$btn-padding-x-xs: 0.5rem !default;
$btn-font-size-xs: $font-size-xs !default;
$btn-line-height-xs: $line-height-xs !default;

$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.5rem !default;
$btn-font-size-sm: $font-size-sm !default;
$btn-line-height-sm: $line-height-sm !default;

$btn-padding-y-lg: 0.35rem !default;
$btn-padding-x-lg: 1rem !default;
$btn-font-size-lg: $font-size-lg !default;
$btn-line-height-lg: $line-height-lg !default;

$btn-padding-y-xl: 0.35rem !default;
$btn-padding-x-xl: 1.25rem !default;
$btn-font-size-xl: $font-size-xl !default;
$btn-line-height-xl: $line-height-xl !default;

$btn-padding-y-xxl: 0.35rem !default;
$btn-padding-x-xxl: 1.25rem !default;
$btn-font-size-xxl: $font-size-xxl !default;
$btn-line-height-xxl: $line-height-xl !default;

$btn-border-width: $border-width !default;

$btn-font-weight: $font-weight-base !default;
$btn-box-shadow: inset 0 0.15rem 0 0 rgba($white, 0.045),
	0 0.15rem 0 0 rgba($black, 0.045) !default;
$btn-focus-box-shadow: inset 0 0.15rem 0 0 rgba($white, 0.045),
	0 0.15rem 0 0 rgba($black, 0.15) !default;
$btn-text-shadow: 0 -1px 0 rgba($black, 0.25) !default;
$btn-disabled-opacity: 0.65 !default;

$btn-link-disabled-color: $gray-6 !default;

$btn-block-spacing-y: 0.5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-xl: $border-radius-xl !default;
$btn-border-radius-xxl: $border-radius-xxl !default;
$btn-border-radius-sm: $border-radius-sm !default;
$btn-border-radius-xs: $border-radius-xs !default;

$btn-border-color: $gray-4;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
	border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;

$btn-size-xs: 1.5rem;
$btn-size-sm: 2rem;
$btn-size: 2.25rem;
$btn-size-lg: 2.5rem;
$btn-size-xl: 3rem;
$btn-size-xxl: 3.5rem;
