// Grays
$white: #fff !default;
$gray-1: #f8f9fa !default;
$gray-2: #ebedf0 !default;
$gray-3: #dde0e5 !default;
$gray-4: #ced3d9 !default;
$gray-5: #abb3be !default;
$gray-6: #97a0ae !default;
$gray-7: #636c7b !default;
$gray-8: #3a3f48 !default;
$gray-9: #23262c !default;
$gray-10: #14161a !default;
$black: $gray-10 !default;

$blue-1: #f0f7ff !default;
$blue-2: #e8f2ff !default;
$blue-3: #bfdaff !default;
$blue-4: #90b7f5 !default;
$blue-5: #6492e8 !default;
$blue-6: #3b6edb !default; // H: 217 S: 73% B: 86%
$blue-7: #2850b5 !default;
$blue-8: #18368f !default;
$blue-9: #0d2069 !default;
$blue-10: #071242 !default;

$red-1: #fff2f0 !default;
$red-2: #ffebe8 !default;
$red-3: #ffc6bf !default;
$red-4: #f59790 !default;
$red-5: #e86864 !default;
$red-6: #db3b3b !default;
$red-7: #b5282d !default;
$red-8: #8f1820 !default;
$red-9: #690d16 !default;
$red-10: #42070f !default;

$yellow-1: #fefff0 !default;
$yellow-2: #feffe8 !default;
$yellow-3: #ffffbf !default;
$yellow-4: #f5f190 !default;
$yellow-5: #e8df64 !default;
$yellow-6: #dbca3b !default;
$yellow-7: #b5a228 !default;
$yellow-8: #8f7b18 !default;
$yellow-9: #69560d !default;
$yellow-10: #423507 !default;

$green-1: #f6fff0 !default;
$green-2: #f0ffe8 !default;
$green-3: #d3ffbf !default;
$green-4: #adf590 !default;
$green-5: #85e864 !default;
$green-6: #5ddb3b !default;
$green-7: #42b528 !default;
$green-8: #2a8f18 !default;
$green-9: #17690d !default;
$green-10: #0c4207 !default;

$indigo-1: #f3f0ff !default;
$indigo-2: #ece8ff !default;
$indigo-3: #c9bfff !default;
$indigo-4: #9c90f5 !default;
$indigo-5: #6f64e8 !default;
$indigo-6: #433bdb !default;
$indigo-7: #2a28b5 !default;
$indigo-8: #181a8f !default;
$indigo-9: #0d1169 !default;
$indigo-10: #070c42 !default;

$purple-1: #f7f0ff !default;
$purple-2: #f2e8ff !default;
$purple-3: #d8bfff !default;
$purple-4: #b490f5 !default;
$purple-5: #8e64e8 !default;
$purple-6: #683bdb !default;
$purple-7: #4b28b5 !default;
$purple-8: #32188f !default;
$purple-9: #1d0d69 !default;
$purple-10: #100742 !default;

$teal-1: #f0fff6 !default;
$teal-2: #e8fff2 !default;
$teal-3: #bfffde !default;
$teal-4: #90f5c4 !default;
$teal-5: #64e8ad !default;
$teal-6: #3bdb99 !default;
$teal-7: #28b57f !default;
$teal-8: #188f65 !default;
$teal-9: #0d694b !default;
$teal-10: #074232 !default;

$pink-1: #fff0f3 !default;
$pink-2: #ffe8ed !default;
$pink-3: #ffbfd0 !default;
$pink-4: #f590af !default;
$pink-5: #e86490 !default;
$pink-6: #db3b77 !default;
$pink-7: #b52860 !default;
$pink-8: #8f184c !default;
$pink-9: #690d37 !default;
$pink-10: #420725 !default;

$orange-1: #fff9f0 !default;
$orange-2: #fff5e8 !default;
$orange-3: #ffe2bf !default;
$orange-4: #f5c490 !default;
$orange-5: #e8a464 !default;
$orange-6: #db833b !default;
$orange-7: #b56328 !default;
$orange-8: #8f4618 !default;
$orange-9: #692d0d !default;
$orange-10: #421a07 !default;

$cyan-1: #f0fffd !default;
$cyan-2: #e8fffd !default;
$cyan-3: #bffffc !default;
$cyan-4: #90f5f3 !default;
$cyan-5: #64e6e8 !default;
$cyan-6: #3bd2db !default;
$cyan-7: #28a9b5 !default;
$cyan-8: #18818f !default;
$cyan-9: #0d5b69 !default;
$cyan-10: #073742 !default;

$skyblue-1: #f0fdff !default;
$skyblue-2: #e8fbff !default;
$skyblue-3: #bff1ff !default;
$skyblue-4: #90dcf5 !default;
$skyblue-5: #64c3e8 !default;
$skyblue-6: #3ba8db !default;
$skyblue-7: #2884b5 !default;
$skyblue-8: #18618f !default;
$skyblue-9: #0d4269 !default;
$skyblue-10: #072842 !default;

$primary: $blue-6 !default;
$success: $teal-6 !default;
$info: $skyblue-6 !default;
$warning: $yellow-6 !default;
$danger: $red-6 !default;
$light: $gray-1 !default;
$dark: $gray-8 !default;
$darker: $gray-9 !default;
$secondary: $gray-6 !default;
$disabled: $gray-4 !default;
$disabled-bg: $gray-2 !default;

$primary-darker: $blue-10 !default;
$primary-dark: $blue-8 !default;
$primary-light: $blue-4 !default;
$primary-lighter: $blue-2 !default;

$success-darker: $teal-10 !default;
$success-dark: $teal-8 !default;
$success-light: $teal-4 !default;
$success-lighter: $teal-2 !default;

$warning-darker: $yellow-10 !default;
$warning-dark: $yellow-8 !default;
$warning-light: $yellow-4 !default;
$warning-lighter: $yellow-2 !default;

$danger-darker: $red-10 !default;
$danger-dark: $red-8 !default;
$danger-light: $red-4 !default;
$danger-lighter: $red-2 !default;

$info-darker: $skyblue-10 !default;
$info-dark: $skyblue-8 !default;
$info-light: $skyblue-4 !default;
$info-lighter: $skyblue-2 !default;

$pink-darker: $pink-10 !default;
$pink-dark: $pink-8 !default;
$pink-light: $pink-4 !default;
$pink-lighter: $pink-2 !default;

$indigo-darker: $indigo-10 !default;
$indigo-dark: $indigo-8 !default;
$indigo-light: $indigo-4 !default;
$indigo-lighter: $indigo-2 !default;

$purple-darker: $purple-10 !default;
$purple-dark: $purple-8 !default;
$purple-light: $purple-4 !default;
$purple-lighter: $purple-2 !default;

$cyan-darker: $cyan-10 !default;
$cyan-dark: $cyan-8 !default;
$cyan-light: $cyan-4 !default;
$cyan-lighter: $cyan-2 !default;

$orange-darker: $orange-10 !default;
$orange-dark: $orange-8 !default;
$orange-light: $orange-4 !default;
$orange-lighter: $orange-2 !default;

$green-darker: $green-10 !default;
$green-dark: $green-8 !default;
$green-light: $green-4 !default;
$green-lighter: $green-2 !default;

//Themes
$plain-theme-colors: (
	'primary': $primary,
	'success': $success,
	'warning': $warning,
	'danger': $danger,
	'error': $danger,
	'info': $info,
	'indigo': $indigo-6,
	'purple': $purple-6,
	'light': $light,
	'dark': $dark,
	'darker': $darker,
	'secondary': $secondary,
	'green': $green-6,
	'cyan': $cyan-6,
	'orange': $orange-6,
	'pink': $pink-6
);

$theme-colors: (
	'primary-darker': $primary-darker,
	'primary-dark': $primary-dark,
	'primary': $primary,
	'primary-light': $primary-light,
	'primary-lighter': $primary-lighter,
	'success-darker': $success-darker,
	'success-dark': $success-dark,
	'success': $success,
	'success-light': $success-light,
	'success-lighter': $success-lighter,
	'warning-darker': $warning-darker,
	'warning-dark': $warning-dark,
	'warning': $warning,
	'warning-light': $warning-light,
	'warning-lighter': $warning-lighter,
	'danger-darker': $danger-darker,
	'danger-dark': $danger-dark,
	'danger': $danger,
	'danger-light': $danger-light,
	'danger-lighter': $danger-lighter,
	'info-darker': $info-darker,
	'info-dark': $info-dark,
	'info': $info,
	'info-light': $info-light,
	'info-lighter': $info-lighter,
	'pink-darker': $pink-darker,
	'pink-dark': $pink-dark,
	'pink': $pink-6,
	'pink-light': $pink-light,
	'pink-lighter': $pink-lighter,
	'indigo-darker': $indigo-darker,
	'indigo-dark': $indigo-dark,
	'indigo': $indigo-6,
	'indigo-light': $indigo-light,
	'indigo-lighter': $indigo-lighter,
	'purple-darker': $purple-darker,
	'purple-dark': $purple-dark,
	'purple': $purple-6,
	'purple-light': $purple-light,
	'purple-lighter': $purple-lighter,
	'green-darker': $green-darker,
	'green-dark': $green-dark,
	'green': $green-6,
	'green-light': $green-light,
	'green-lighter': $green-lighter,
	'cyan-darker': $cyan-darker,
	'cyan-dark': $cyan-dark,
	'cyan': $cyan-6,
	'cyan-light': $cyan-light,
	'cyan-lighter': $cyan-lighter,
	'orange-darker': $orange-darker,
	'orange-dark': $orange-dark,
	'orange': $orange-6,
	'orange-light': $orange-light,
	'orange-lighter': $orange-lighter,
	'light': $light,
	'dark': $dark,
	'darker': $darker,
	'secondary': $secondary
) !default;

//Links
$link-color: $primary-dark !default;
$link-hover-color: $primary-darker !default;
$link-decoration: none !default;
$link-hover-decoration: none !default;

//Body
$body-bg: $gray-1 !default;
$body-color: $gray-7 !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 210 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $body-color !default;
$yiq-text-light: $white !default;

// Components
$border-color: $gray-3 !default;

:export {
	primary-darker: $primary-darker;
	primary-dark: $primary-dark;
	primary: $primary;
	primary-light: $primary-light;
	primary-lighter: $primary-lighter;
	success-darker: $success-darker;
	success-dark: $success-dark;
	success: $success;
	success-light: $success-light;
	success-lighter: $success-lighter;
	warning-darker: $warning-darker;
	warning-dark: $warning-dark;
	warning: $warning;
	warning-light: $warning-light;
	warning-lighter: $warning-lighter;
	danger-darker: $danger-darker;
	danger-dark: $danger-dark;
	danger: $danger;
	danger-light: $danger-light;
	danger-lighter: $danger-lighter;
	info-darker: $info-darker;
	info-dark: $info-dark;
	info: $info;
	info-light: $info-light;
	info-lighter: $info-lighter;
	pink-darker: $pink-darker;
	pink-dark: $pink-dark;
	pink: $pink-6;
	pink-light: $pink-light;
	pink-lighter: $pink-lighter;
	indigo-darker: $indigo-darker;
	indigo-dark: $indigo-dark;
	indigo: $indigo-6;
	indigo-light: $indigo-light;
	indigo-lighter: $indigo-lighter;
	purple-darker: $purple-darker;
	purple-dark: $purple-dark;
	purple: $purple-6;
	purple-light: $purple-light;
	purple-lighter: $purple-lighter;
	green-darker: $green-darker;
	green-dark: $green-dark;
	green: $green-6;
	green-light: $green-light;
	green-lighter: $green-lighter;
	cyan-darker: $cyan-darker;
	cyan-dark: $cyan-dark;
	cyan: $cyan-6;
	cyan-light: $cyan-light;
	cyan-lighter: $cyan-lighter;
	orange-darker: $orange-darker;
	orange-dark: $orange-dark;
	orange: $orange-6;
	orange-light: $orange-light;
	orange-lighter: $orange-lighter;
	light: $light;
	dark: $dark;
	darker: $darker;
	secondary: $secondary;
}
