// Font-face definition for the 'FabricMDL2Icons' icon font
$icon-font-family: 'lp-icons';
$icon-font-path: '~assets/fonts/';

// Sizes
$icon-size-base: 1rem !default;
$icon-size-xxs: ($icon-size-base * 0.5) !default;
$icon-size-xs: ($icon-size-base * 0.75) !default;
$icon-size-sm: ($icon-size-base * 0.875) !default;
$icon-size-lg: ($icon-size-base * 1.25) !default;
$icon-size-xl: ($icon-size-base * 1.5) !default;
$icon-size-xxl: ($icon-size-base * 2) !default;

$lp-icon-plus: '\e900';
$lp-icon-notification-circle: '\e901';
$lp-icon-alarm: '\e902';
$lp-icon-apartment: '\e903';
$lp-icon-arrow-down-circle: '\e904';
$lp-icon-arrow-down: '\e905';
$lp-icon-arrow-left-circle: '\e906';
$lp-icon-arrow-left: '\e907';
$lp-icon-arrow-right-circle: '\e908';
$lp-icon-arrow-right: '\e909';
$lp-icon-arrow-up-circle: '\e90a';
$lp-icon-arrow-up: '\e90b';
$lp-icon-bicycle: '\e90c';
$lp-icon-bold: '\e90d';
$lp-icon-book: '\e90e';
$lp-icon-bookmark: '\e90f';
$lp-icon-briefcase: '\e910';
$lp-icon-bubble: '\e911';
$lp-icon-bug: '\e912';
$lp-icon-bullhorn: '\e913';
$lp-icon-bus: '\e914';
$lp-icon-calendar-full: '\e915';
$lp-icon-camera-video: '\e916';
$lp-icon-camera: '\e917';
$lp-icon-car: '\e918';
$lp-icon-cart: '\e919';
$lp-icon-chart-bars: '\e91a';
$lp-icon-checkmark-circle: '\e91b';
$lp-icon-chevron-down-circle: '\e91c';
$lp-icon-chevron-down: '\e91d';
$lp-icon-chevron-left-circle: '\e91e';
$lp-icon-chevron-left: '\e91f';
$lp-icon-chevron-right-circle: '\e920';
$lp-icon-chevron-right: '\e921';
$lp-icon-chevron-up-circle: '\e922';
$lp-icon-chevron-up: '\e923';
$lp-icon-circle-minus: '\e924';
$lp-icon-clock: '\e925';
$lp-icon-cloud-check: '\e926';
$lp-icon-cloud-download: '\e927';
$lp-icon-cloud-sync: '\e928';
$lp-icon-cloud-upload: '\e929';
$lp-icon-cloud: '\e92a';
$lp-icon-code: '\e92b';
$lp-icon-coffee-cup: '\e92c';
$lp-icon-cog: '\e92d';
$lp-icon-construction: '\e92e';
$lp-icon-crop: '\e92f';
$lp-icon-cross-circle: '\e930';
$lp-icon-cross: '\e931';
$lp-icon-database: '\e932';
$lp-icon-diamond: '\e933';
$lp-icon-dice: '\e934';
$lp-icon-dinner: '\e935';
$lp-icon-direction-ltr: '\e936';
$lp-icon-direction-rtl: '\e937';
$lp-icon-download: '\e938';
$lp-icon-drop: '\e939';
$lp-icon-earth: '\e93a';
$lp-icon-enter-down: '\e93b';
$lp-icon-enter: '\e93c';
$lp-icon-envelope: '\e93d';
$lp-icon-exit-up: '\e93e';
$lp-icon-exit: '\e93f';
$lp-icon-eye: '\e940';
$lp-icon-file-add: '\e941';
$lp-icon-file-empty: '\e942';
$lp-icon-film-play: '\e943';
$lp-icon-flag: '\e944';
$lp-icon-frame-contract: '\e945';
$lp-icon-frame-expand: '\e946';
$lp-icon-funnel: '\e947';
$lp-icon-gift: '\e948';
$lp-icon-graduation-hat: '\e949';
$lp-icon-hand: '\e94a';
$lp-icon-heart-pulse: '\e94b';
$lp-icon-heart: '\e94c';
$lp-icon-highlight: '\e94d';
$lp-icon-history: '\e94e';
$lp-icon-home: '\e94f';
$lp-icon-hourglass: '\e950';
$lp-icon-inbox: '\e951';
$lp-icon-indent-decrease: '\e952';
$lp-icon-indent-increase: '\e953';
$lp-icon-italic: '\e954';
$lp-icon-keyboard: '\e955';
$lp-icon-laptop-phone: '\e956';
$lp-icon-laptop: '\e957';
$lp-icon-layers: '\e958';
$lp-icon-leaf: '\e959';
$lp-icon-license: '\e95a';
$lp-icon-lighter: '\e95b';
$lp-icon-line-spacing: '\e95c';
$lp-icon-linearicons: '\e95d';
$lp-icon-link: '\e95e';
$lp-icon-list: '\e95f';
$lp-icon-location: '\e960';
$lp-icon-lock: '\e961';
$lp-icon-magic-wand: '\e962';
$lp-icon-magnifier: '\e963';
$lp-icon-map-marker: '\e964';
$lp-icon-map: '\e965';
$lp-icon-menu-circle: '\e966';
$lp-icon-menu: '\e967';
$lp-icon-mic: '\e968';
$lp-icon-moon: '\e969';
$lp-icon-move: '\e96a';
$lp-icon-music-note: '\e96b';
$lp-icon-mustache: '\e96c';
$lp-icon-neutral: '\e96d';
$lp-icon-page-break: '\e96e';
$lp-icon-paperclip: '\e96f';
$lp-icon-paw: '\e970';
$lp-icon-pencil: '\e971';
$lp-icon-phone-handset: '\e972';
$lp-icon-phone: '\e973';
$lp-icon-picture: '\e974';
$lp-icon-pie-chart: '\e975';
$lp-icon-pilcrow: '\e976';
$lp-icon-plus-circle: '\e977';
$lp-icon-pointer-down: '\e978';
$lp-icon-pointer-left: '\e979';
$lp-icon-pointer-right: '\e97a';
$lp-icon-pointer-up: '\e97b';
$lp-icon-poop: '\e97c';
$lp-icon-power-switch: '\e97d';
$lp-icon-printer: '\e97e';
$lp-icon-pushpin: '\e97f';
$lp-icon-question-circle: '\e980';
$lp-icon-redo: '\e981';
$lp-icon-rocket: '\e982';
$lp-icon-sad: '\e983';
$lp-icon-screen: '\e984';
$lp-icon-select: '\e985';
$lp-icon-shirt: '\e986';
$lp-icon-smartphone: '\e987';
$lp-icon-smile: '\e988';
$lp-icon-sort-alpha-asc: '\e989';
$lp-icon-sort-amount-asc: '\e98a';
$lp-icon-spell-check: '\e98b';
$lp-icon-star-empty: '\e98c';
$lp-icon-star-half: '\e98d';
$lp-icon-star: '\e98e';
$lp-icon-store: '\e98f';
$lp-icon-strikethrough: '\e990';
$lp-icon-sun: '\e991';
$lp-icon-sync: '\e992';
$lp-icon-tablet: '\e993';
$lp-icon-tag: '\e994';
$lp-icon-text-align-center: '\e995';
$lp-icon-text-align-justify: '\e996';
$lp-icon-text-align-left: '\e997';
$lp-icon-text-align-right: '\e998';
$lp-icon-text-format-remove: '\e999';
$lp-icon-text-format: '\e99a';
$lp-icon-text-size: '\e99b';
$lp-icon-thumbs-down: '\e99c';
$lp-icon-thumbs-up: '\e99d';
$lp-icon-train: '\e99e';
$lp-icon-trash: '\e99f';
$lp-icon-underline: '\e9a0';
$lp-icon-undo: '\e9a1';
$lp-icon-unlink: '\e9a2';
$lp-icon-upload: '\e9a3';
$lp-icon-user: '\e9a4';
$lp-icon-users: '\e9a5';
$lp-icon-volume-high: '\e9a6';
$lp-icon-volume-low: '\e9a7';
$lp-icon-volume-medium: '\e9a8';
$lp-icon-volume: '\e9a9';
$lp-icon-warning: '\e9aa';
$lp-icon-wheelchair: '\e9ab';
